*{
    margin: 0;
    padding: 0;
}


@media (min-width: 1024px) {
body{ 
    background-color:ghostwhite;
    display: grid;
    grid-template-areas: "icono" "menu"
 "body" "footer";
    width: 100%;}
    
h1 {font-family: 'Indie Flower', cursive;}

p{font-family: 'Mali', cursive;
  font-size: 22px;
}

 p::selection{
    background-color: blanchedalmond;
    color: black;}

h1::selection{
    background-color: blanchedalmond;
    color: black;}

.icono{
    display: grid;
    grid-area: icono;
    justify-content: center;}

footer{
    margin-top: 10%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center ;}



/* Menu */

 nav ul{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction:row;}
    
li { 
    text-decoration: none;
    text-align: center;
    width: 10%;
    border-radius: 15%;}

ul li:hover{
    background-color: aliceblue;
    color: black;}

.neutro li a{
    font-family: 'Mali', cursive;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;}

/*Estructura general de los aside*/

.piedad{
    display: flex;
    flex-direction:row;
    justify-content: center;}

.asideI{
    background-image: url("../imagenes/aside.jpg");
    border-radius: 10px;
    width: 50%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction:row}

.contenido-del-Aside {
    background-color: Snow;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 40px ;}


/* Estructura INDEX */
 .section{
    display: flex;
    justify-content: center;
    flex-direction:row;}

.sectionINFO{
    margin-top: 100px;
    width: 400px;
    height: 200px;}

/*Estructura METODOS*/

.margin{
    margin-top: 7%;
}
.metodos{
    display: flex;
    flex-direction: row;}

.padreInfo{
    flex-direction: row;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 40px}

.infoMetodos{
    width: 1000px;
    height: 100px;
    text-align: justify;}

.imgMetodos {
    background: linear-gradient(96deg, coral, Moccasin);
   padding: 10px;
   border-radius: 10px;
   margin-left: 50px;
   margin-bottom: 20px;}

.p{
    font-family: 'Mali', cursive;
    font-size: 20px;
    text-decoration: none;}

ul li{
    text-decoration: none;
}

/*estructura CARTA*/

.caffe-BaseE{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content:space-between;
}

.carta:hover { 
    transform: scale(1.05);
    transition-duration: 0.7s;}

/*estructura Tipos*/

.cuerpoTi {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 7%;
}

.introT{
    width: 70%;
    margin-left:15% ;
}

.tabla {
    margin-top: 7%; 
    display: flex;
    flex-direction: row;
    justify-content: center;}

table th td tr { 
    border: 1px solid cyan;} 

table{ 
    border-collapse: collapse;
    width: 50%;}

td th { 
    text-align: center;
    vertical-align: top;}

/*estructura HISTORIA*/

.cuerpoT{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: space-around;
    width: 70%;
    margin-top: 7%;
    margin-left:15% ;
}

.historia{
    background-image: url("../imagenes/Cabras-de-Kaldi-consumen-café.jpg");
    border-radius: 10px;
    width: 50%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction:row}

.contenido-del-Historia {
    background-color: Snow;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
    width: 500px;
    padding: 20px;
    margin: 40px ;}

/*prueba*/

.S-padre{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.hijos{
    align-content: space-around;
    align-items: center;

}

}

@media (max-width: 1023px) and (min-width: 480px) {
    body{ 
        background-color:ghostwhite;
        display: grid;
        grid-template-areas: "icono" "menu"
     "body" "footer";
        width: 100%;}
        
    h1 {font-family: 'Indie Flower', cursive;}
    
    p{font-family: 'Mali', cursive;
      font-size: 22px;
    }
    
     p::selection{
        background-color: blanchedalmond;
        color: black;}
    
    h1::selection{
        background-color: blanchedalmond;
        color: black;}
    
    .icono{
        display: grid;
        grid-area: icono;
        justify-content: center;}
    
    footer{
        margin-top: 10%;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content:center ;}
    
    
    
    /* Menu */
    
     nav ul{
        background-color: black;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        flex-direction:row;}
        
    li { 
        text-decoration: none;
        text-align: center;
        width: 10%;
        border-radius: 15%;}
    
    ul li:hover{
        background-color: aliceblue;
        color: black;}
    
    .neutro li a{
        font-family: 'Mali', cursive;
        color: aliceblue;
        text-decoration: none;
        text-transform: uppercase;}
    
    /*Estructura general de los aside*/
    
    .piedad{
        display: flex;
        flex-direction:row;
        justify-content: center;}
    
    .asideI{
        background-image: url("../imagenes/aside.jpg");
        border-radius: 10px;
        width: 50%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction:row}
    
    .contenido-del-Aside {
        background-color: Snow;
        border-radius: 10px;
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        text-align: center;
        width: 300px;
        padding: 20px;
        margin: 40px ;}
    
    
    /* Estructura INDEX */
     .section{
        display: flex;
        justify-content: center;
        flex-direction:row;}
    
    .sectionINFO{
        margin-top: 100px;
        width: 400px;
        height: 200px;}
    
    /*Estructura METODOS*/
    
    .margin{
        width: 70%;
        margin-top: 7%;
    }
    .metodosPadre{
        display: flex;
        flex-direction: row;
        align-content: center;}
    
    .padreInfo{
        flex-direction: row;
        justify-content: center;
        width: 300px;
        padding: 20px;
        margin: 40px}
    
    .infoMetodos{
        width: 1000px;
        height: 100px;
        text-align: justify;}
    
    .imgMetodos {
        background: linear-gradient(96deg, coral, Moccasin);
       padding: 10px;
       border-radius: 10px;
       margin-left: 50px;
       margin-bottom: 20px;}
    
    .p{
        font-family: 'Mali', cursive;
        font-size: 20px;
        text-decoration: none;}
    
    ul li{
        text-decoration: none;
    }
    
    /*estructura CARTA*/
    
    .caffe-BaseE{
        width: 70%;
        margin-left:15% ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content:space-between;
    }
    
    .carta:hover { 
        transform: scale(1.05);
        transition-duration: 0.7s;}
    
    /*estructura Tipos*/
    
    .cuerpoti {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .introT{
        width: 70%;
        margin-left:15% ;
    }
    
    .tabla {
        margin-top: 7%; 
        display: flex;
        flex-direction: row;
        justify-content: center;}
    
    table th td tr { 
        border: 1px solid cyan;} 
    
    table{ 
        border-collapse: collapse;
        width: 50%;}
    
    td th { 
        text-align: center;
        vertical-align: top;}
    
    /*estructura HISTORIA*/
    
    .cuerpoT{
        display: flex;
        flex-direction:row;
        justify-content: center;
        width: 70%;
        margin-left:15% ;
    }
    
    .historia{
        background-image: url("../imagenes/Cabras-de-Kaldi-consumen-café.jpg");
        border-radius: 10px;
        width: 50%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction:row}
    
    .contenido-del-Historia {
        background-color: Snow;
        border-radius: 10px;
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        text-align: center;
        width: 500px;
        padding: 20px;
        margin: 40px ;}
    

}

